language: node_js

node_js:
  - "4"
  - "0.12"
  - "0.10"
  - "iojs"

branches:
  only:
  - master

script: npm run test-ci

env:
  - CXX=g++-4.8

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
